body {
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.phone-notch {
  width: 40%;
  height: 20px;
  background-color: #1f2937;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.phone-speaker {
  width: 15%;
  height: 6px;
  background-color: #4b5563;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

/* Basic transition for background color */
.contact-item-summary {
  transition: background-color 0.15s ease-in-out;
}

/* Ensure images don't break layout if they fail to load */
.contact-avatar {
  object-fit: cover; /* Cover the area without distortion */
}
